numpy
streamlit
streamlit-drawable-canvas
streamlit_analytics2
Pillow
openpyxl
beautifulsoup4 # For adding metadata to index.html when deploying with docker

# AO modules
#   to run this streamlit app in the docker container,
#   uncomment the two "git+" lines below (the dockerfile will install them)
git+https://github.com/aolabsai/ao_core # private repo-- you'll need access via github (contact us: https://discord.gg/nHuJc4Y4n7) 
git+https://github.com/aolabsai/ao_arch